{% extends 'base.html' %}

{% block title %}Socialzz{% endblock %}
{% block content %}
{% include "modal.html" %}
{% include "search.html" %}

<section class="gradient-custom-2">
    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-9 col-xl-7">
                <div class="card p-full">
                    {% for pos in post %}
                    <a class="container" id="{{ pos.id }}" href="{% url 'comment' pos.id %}">
                        <div class="row">
                            <div class="w-[600px] ">
                                <div class="post-card bg-blue-200 pb-3 m-2 rounded-2xl overflow-hidden">
                                    <img src="{{pos.image.url}}" alt="Post Image"
                                        class="post-image w-[600px] h-[300px] object-cover ">
                                    <div class="post-content" style="margin-left: 19px;">
                                        <h5><a href="/profile/{{pos.user}}" style="text-decoration: none;"
                                                class="text-[15px] bg-blue-600 text-white rounded-full p-1 shadow-md">@{{pos.user}}</a>
                                        </h5>
                                        <p class="m-2 text-[20px]">{{pos.caption}}</p>
                                        <p class="text-muted">Posted on: {{pos.create_at}}</p>
                                        <hr class="m-2">
                                        <div class="d-flex justify-content-between"
                                            style="margin-bottom: 8px; margin-right:10px;">

                                            <a href="/like-post/{{pos.id}}/" class="btn btn-outline-primary">Like</a>

                                            {% if pos.no_of_likes == 0 %}
                                            <p>0</p>
                                            {% elif pos.no_of_likes == 1 %}
                                            <p>Liked by {{pos.no_of_likes}} person</p>
                                            {% else %}
                                            <p>Liked by {{pos.no_of_likes}} people</p>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}